footer
  display: grid
  grid-area: footer
  grid-template-columns: 200px 1fr 300px
  grid-template-areas: "LOGO LINKS NEWSLETTER"
  width: 100%;
  padding: 30px 20px 15px 20px
  box-sizing: border-box;
  background: #1D1F24
  .Footer-logo
    grid-area: LOGO
    color: #FFF
    font-size: 14px
    font-weight: 500
    opacity 0.7
    p
      margin: 0
  .Footer-newsletter
    display flex
    flex-direction: column
    grid-area: NEWSLETTER
    p
      margin-top: 0
      color #FFF
      font-family: Lato
      font-weight: 400
      font-size: 14px
      opacity 0.7
      img
        width: 16px
        margin: 0 5px
    input
      padding: 10px
      min-width 200px
      height 40px
      box-sizing: border-box
      vertical-align: bottom
      border: transparent
    button
      padding: 11px 15px
      height 40px
      color: #FFF
      background: #FF565C
      border: transparent
      font-family: 'Oswald', sans-serif
      font-weight: 400
      font-size: 12px
      letter-spacing: 1.25px
      vertical-align: bottom
      box-sizing: border-box
  .Footer-links
    display: grid
    grid-area: LINKS
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(2, 30px)
    grid-template-areas: "TECH LEADER NEW ENTER" "IDEA VIDEO FINAN";
    a
      color: #FFF
      font-size: 16px
      font-family: 'Oswald', sans-serif
      font-weight: 300
      letter-spacing: 1px
      text-decoration: none
    :hover
      text-decoration: underline
      .TECH
        grid-area: TECH
      .IDEA
        grid-area: IDEA
      .LEADER
        grid-area: LEADER
      .VIDEO
        grid-area: VIDEO
      .NEW
        grid-area: NEW
      .FINAN
        grid-area: FINAN
      .ENTER
        grid-area: ENTER
@media (min-width: 768 px) and (max-width: 1024px)
  footer
    display: grid
    grid-area: footer
    grid-template-columns: 200px 1fr
    grid-template-rows: 100px auto
    grid-template-areas: "LOGO LINKS" "NEWSLETTER NEWSLETTER"
  .Footer-newsletter
    flex-direction: row-reverse
    justify-content: flex-end
    align-items: center
    padding-top 20px
    button
      margin-right: 20px
  .Footer-links
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(3, 30px)
    grid-template-areas: "TECH LEADER NEW" "IDEA VIDEO FINAN" "ENTER"
@media screen and (max-width: 767px)
  footer
    display: grid
    grid-area: footer
    grid-template-columns: 1fr
    grid-template-areas: "LOGO" "NEWSLETTER" "LINKS"
    .Footer-newsletter
      flex-direction: column-reverse
      justify-content: flex-start
      align-items: end
      padding-top 20px
      p
        margin: 20px 0
      button
        margin-right: 20px
    .Footer-links
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 20px;
      grid-template-areas: "TECH VIDEO" "IDEA NEW" "ENTER FINAN" "LEADER"