header
  grid-area: header
  display: grid
  grid-template-columns: 150px 1fr 150px
  grid-gap: 20px
  .Header-logo
    font-size: 24px
    font-weight: bold
    display: flex
    justify-content: center
    align-items: center
    span 
      color: #FF565C
  div
  nav
    padding: 10px
    ul
      list-style none
      padding-inline-start: 0
      display: flex;
      justify-content: space-evenly;
      a
        font-size: 14px
        opacity 0.2
        color: #1D1F24
        text-decoration: none
        font-family: 'Oswald', sans-serif
        font-weight: 400
      :hover
        opacity 1