.Item
  position: relative
  max-width: 435px
  &.small
    grid-row-end: span 2
  &.big
    grid-row-end: span 3
  &-image
    margin: 0
    position relative
  &-image img
    width: 100%;
    vertical-align: top;
  &-tag
    position: absolute
    bottom: 15%
    left: -7px
    font-size: 14px
    color: #FFF
    text-transform: uppercase
    background-color: #FF565C
    padding: 10px 15px 10px 20px
  &-description
    font-size: 18px
    font-weight: 400
    opacity 0.7
    color: #1D1F24
  &-title
    font-size: 26px
    font-weight: 500
@media (min-width: 768 px) and (max-width: 1024px)
  .Item
    max-width: 360px